@import 'src/styles/variables';

:host {
  display: block;
  height: 100%;
  @media (max-width: $smd) {
    border-right: none;
  }
}

.chats-block {
  display: flex;
  height: calc(100% - 36px);
  width: 100%;
}

.chat-tabs {
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}


.chats-wrapper {
  width: 78%;
  overflow-y: auto;
  border-right: 1px solid $chat-item-border;
  border-left: 1px solid $chat-item-border;
}

.chats-wrapper::-webkit-scrollbar,
.chats-wrapper .autocomplete-items::-webkit-scrollbar {
  width: 12px;
}

.chats-wrapper::-webkit-scrollbar-track,
.chats-wrapper::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0,0.3);
  border-radius: 10px;
}

.chats-wrapper::-webkit-scrollbar-thumb,
.chats-wrapper::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0,0.5);
}

.chats-item {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 5px;
  min-height: 50px;
  border-bottom: 1px solid $border-color;
  cursor: pointer;
  &:hover {
    background-color: $list-item-hover;
  }
}

.add-new-chat-button {
  width: 100%;
  height: 36px;
  border-radius: 0;
  color: $white;
  font-size: 34px;
}
