@import 'src/styles/variables';

.users-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 10px;
  grid-gap: 10px;
}

.users-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px;
  width: 160px;
  height: 160px;
  cursor: pointer;
  &.user {
    cursor: no-drop;
  }
  @media (max-width: $md) {
    width: 130px;
    height: 130px;
  }
}

.user-photo {
  border-radius: 50%;
  width: 95px;
  @media (max-width: $md) {
    width: 70px;
  }
}

.users-list::-webkit-scrollbar,
.users-list .autocomplete-items::-webkit-scrollbar {
  width: 12px;
}

.users-list::-webkit-scrollbar-track,
.users-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255,0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255,0.3);
  border-radius: 10px;
}

.users-list::-webkit-scrollbar-thumb,
.users-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(255, 255, 255,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255,0.5);
}

.user-name {
  text-align: center;
}
