<div class="chat-box">
  <div class="chat-info">
    <h2 class="chat-title">{{selectedChat?.name | formatChatName:selectedChat: true: user?.userId}}</h2>
  </div>
  <ul class="messages-box" #scrollframe (scroll)="scrolled($event)">
    <app-chat-message
      *ngFor="let message of messages; trackBy:trackBy "
      [message]="message"
      [isUser]="user?.userId === message.authorId"
      [userId]="user?.userId"
      (onDeleteMessage)="onDeleteChat($event)"
      #chatItem
    ></app-chat-message>
  </ul>

  <div class="send-wrapper">
    <input
      class="input"
      type="text"
      (keydown.enter)="onEnter()"
      [(ngModel)]="messageText"
      #input
      placeholder="Type your message here...">
    <emoji-mart
      class="emoji-mart-block"
      *ngIf="showEmojiPicker"
      set="apple"
      (emojiClick)="addEmoji($event)"
    ></emoji-mart>
    <button class="open-emoji-button" (click)="showEmojiPicker = !showEmojiPicker">😀</button>
    <button class="send-button" (click)="sendMessage()">
      <img src="../../../../../assets/images/Vector.png" alt="send">
    </button>
  </div>
