@import 'src/styles/variables';

:host {
  display: flex;
  position: relative;
  height: calc(100% - 60px);
  width: 100%;
  margin: 0 auto;
  background-color: $white;
}

.chats {
  width: 30%;
  height: 100%;
}

.chat-room {
  width: 70%;
  height: 100%;
}

.welcome-chat-room {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $chat-bg;
  width: 70%;
  height: 100%;
  font-size: 30px;
  @media(max-width: $md) {
    font-size: 20px;
  }
}

