<button class="open-close-chat" (click)="isChatsOpen = !isChatsOpen">
  <mat-icon
    *ngIf="!isChatsOpen"
    matTooltip="Open chats list"
    matTooltipPosition="left"
  > list_alt</mat-icon>
  <mat-icon
    *ngIf="isChatsOpen"
    matTooltipPosition="left"
    matTooltip="Close chats list">
    close</mat-icon>
</button>
<div class="chats" [ngClass]="{'chats-open': isChatsOpen}">
  <app-chats-list
    *ngIf="chats"
    [chats]="chats"
    [userId]="userService.userInfo$.getValue()?.userId"
    [link]="'chat'"
    [isPrivateList]="false"
    [selectedChat]="selectedChat"
    (onDeleteChat)="deleteChat($event)"
    (onEditChat)="editChat($event)"
    (onOpenDialog)="openDialog()"
  ></app-chats-list>
</div>
<div class="chat-room" *ngIf="isSelectedChat; else welcome">
  <app-chat-room
    [selectedChat]="selectedChat"
    [messages]="messages"
    [user]="user"
    (isOpenChat)="isChatsOpen = false"
    (deleteMessage)="deleteMessage($event)"
    (onSendMessage)="sendMessage($event)"
    (onEditMessage)="editMessage($event)"
  ></app-chat-room>
</div>

<ng-template #welcome>
  <div class="welcome-chat-room">
    Please select a chat
  </div>
</ng-template>

