<div class="chats">
  <app-chats-list
    *ngIf="chats"
    [chats]="chats"
    [userId]="userService.userInfo$.getValue()?.userId"
    [link]="'chat'"
    [isPrivateList]="false"
    (onDeleteChat)="deleteChat($event, chatType.Group)"
    (onOpenDialog)="openDialog()"
  ></app-chats-list>
</div>
<div class="chat-room" *ngIf="isSelectedChat; else welcome">
  <app-chat-room></app-chat-room>
</div>

<ng-template #welcome>
  <div class="chat-room">
    Please select a chat
  </div>
</ng-template>
<!--<div class="users">-->
<!--  <h2 class="chat-title">Users in Chatty</h2>-->
<!-- <app-chat-users-list-->
<!--   *ngIf="userService.users | async as users; else spinner"-->
<!--   [users]="users"-->
<!--   [userId]="userService.userInfo$.getValue()?.userId"-->
<!--   (onNewPrivateChat)="createNewPrivateChat($event)"-->
<!-- >-->
<!-- </app-chat-users-list>-->
<!--</div>-->

