<button class="open-close-chat" (click)="isChatsOpen = !isChatsOpen">
  <mat-icon>list</mat-icon>
</button>
<div class="chats" [ngClass]="{'chats-open': isChatsOpen}">
  <app-chats-list
    *ngIf="chats"
    [chats]="chats"
    [userId]="userService.userInfo$.getValue()?.userId"
    [link]="'chat'"
    [isPrivateList]="false"
    (onDeleteChat)="deleteChat($event, chatType.Group)"
    (onOpenDialog)="openDialog()"
  ></app-chats-list>
</div>
<div class="chat-room" *ngIf="isSelectedChat; else welcome">
  <app-chat-room
    (isOpenChat)="isChatsOpen = false"
    (deleteMessage)="deleteMessage($event)"
  ></app-chat-room>
</div>

<ng-template #welcome>
  <div class="welcome-chat-room">
    Please select a chat
  </div>
</ng-template>

