/* You can add global styles to this file, and also import other style files */
@import '~@ctrl/ngx-emoji-mart/picker';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'src/styles/variables';

*,
*::after,
*::before {
  box-sizing: border-box;
}


html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

html {
  height: 100%;
}

body {
  margin: 0;
  line-height:1;
  height: 100%;
  background: $body-bg;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $text-color;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

button {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-color: $button-bg;
  transition: all .4s;
  color: $white;
}

button:hover {
  background-color: #009688;
}
