@import 'src/styles/variables';

.chats-item {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0px 29px 0 10px;
  min-height: 50px;
  border-bottom: 1px solid  $chat-item-border;
  transition: all 0.6s;
  -webkit-box-shadow: 3px 2px 5px 1px $box-shadow;
  -moz-box-shadow: 3px 2px 5px 1px $box-shadow;
  box-shadow: 3px 2px 5px 1px $box-shadow;
  &:hover {
    background-color: $list-item-hover;
    border-bottom: 1px solid  $button-hover;
    box-shadow: 3px 2px 5px 1px rgb(242 74 114 / 56%);
    .chats-link {
      color: $white;
    }
    .last-message {
      color: $white;
    }
  }
}

.delete-button {
  position: absolute;
  display: none;
  right: 0;
  background: none;
}

.delete-icon {
  color: $main-text-color;
  &:hover {
    color: $red;
  }
}

.chats-item:hover {
  .delete-button {
    display: block;
  }
}

.chats-link {
  min-height: 24px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  color: $header-bg;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.6s;
  cursor: pointer;
  @media (max-width: $md) {
    font-size: 16px;
  }
  @media (max-width: $sm) {
    font-size: 14px;
    font-weight: 400;
  }
}

.last-message {
  display: block;
  color: $chat-user-name;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.6s;
}
