<header class="header-content">
  <div class="logo">Chatty</div>
  <div class="user-block">
    <div class="user" *ngIf="user?.displayName">
      <avatar
        class="avatar"
        [firstName]="user?.displayName.split(' ')[0]"
        [lastName]="user?.displayName.split(' ')[1]"
        [userId]="user?.uid"
        [isCircle]="true"
        [photo]="user?.userPhoto"
      ></avatar>
      <div>{{user?.displayName}}</div>
    </div>
    <button *ngIf="user?.displayName" (click)="logOut()">Log out</button>
  </div>
</header>
