$body-bg:  #f4f5fb;
$header-bg: #004d40;
$main-text-color: #00695c;
$button-bg: #00897b;
$button-hover: #009688;
$text-color: #00796b;
$border-color: #b2dfdb;
$white: #ffffff;
$chat-item-border: #4db6ac;
$red: #d32f2f;
$chat-user-name: #999999;

$lg: 992px;
$sm: 415px;
$md: 768px;
